body {
  width: 100%;
  height: 100%;
  font-family: $cru-body-font-family;
  color: $cru-dark;
  background-color: $cru-cru-bg;
  text-rendering: optimizeLegibility;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: $cru-headline-font-family;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media(min-width:767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: $cru-primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($cru-primary,0.2);
  }
}

.light {
  font-weight: 400;
}

/* navbar-custom */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid transparentize($cru-light, 0.7);
  text-transform: uppercase;
  font-family: $cru-body-font-family;
  text-rendering: optimizeLegibility;
  font-size: 1.2em;
  font-weight: 400;
  background-color: $cru-dark;
  .navbar-brand {
    font-weight: 700;
    opacity: 0.8;
    img {
      position: relative;
      top: -5px;
      width: 56px;
      -webkit-transition: width .2s;
      -moz-transition: width .2s;
      transition: width .2s;

    }
    &:hover,
    &:focus {
      outline: none;
      opacity: 1;
    }
    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: $cru-light;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  a {
    color: $cru-light;
  }
  .nav {
    li {
      &.active {
        outline: none;
        a {
          color: transparentize($cru-light, 0.5);
          &::after {
            position: absolute;
            bottom: 8px;
            left: 12px;
            width: 2em;
            height: 0.3em;
            background-color: transparentize($cru-light, 0.5);
            content: '';
            opacity: 1;
            -webkit-transition: opacity 0.3s, width 0.3s, -webkit-transform 0.3s;
            -moz-transition: opacity 0.3s, width 0.3s, -moz-transform 0.3s;
            transition: opacity 0.3s, width 0.3s, transform 0.3s;
            -webkit-transform: translateY(0.5em);
             -moz-transform: translateY(0.5em);
             transform: translateY(0.5em);
          }
        }
      }
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        width: 9em;
        margin-left: 0;
        &:focus,
        &.active {
          outline: none;
          background-color: transparentize($cru-light, 0.7);
        }
        &:hover {
          background: transparent;
        }
      }
    }
  }
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    .navbar-brand img {
      width: 222px;
      top: -20px;
    }
    a:not(.navbar-brand) {
      color: $cru-dark;
      &:hover {
        color: $cru-primary;
      }
      &::after {
        position: absolute;
        bottom: 8px;
        left: 12px;
        width: 2em;
        height: 0.3em;
        background: $cru-primary;
        content: '';
        opacity: 1;
        -webkit-transition: opacity 0.3s, width 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, width 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, width 0.3s, transform 0.3s;
        -webkit-transform: translateY(0.5em);
         -moz-transform: translateY(0.5em);
         transform: translateY(0.5em);
      }
      &:hover::after,
      &:focus::after {
        opacity: 0.8;
        width: 80%;
        -webkit-transform: translateY(0.5em);
         -moz-transform: translateY(0.5em);
         transform: translateY(0.5em);
      }
    }
  }

  .top-nav-collapse {
    padding: 25px 0;
    background-color: $cru-dark;
    .navbar-brand img {
      width: 111px;
      top: -25px;
    }
    a {
      &:hover {
        background-color: $cru-dark;
      }
    }
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid transparentize($cru-light, 0.7);
    a {
      color: $cru-light;
    }
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: left;
  color: $cru-light;
  background: $cru-dark url(../img/intro-bg.jpg) no-repeat scroll bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .intro-heading {
      font-size: 40px;
      font-family: $cru-body-font-family;
      color: $cru-bright-blue;
      text-rendering: optimizeLegibility;
      text-shadow: 1px 1px 6px #333;
      text-transform: none !important;
    }

    .intro-text {
      font-size: 18px;
      color: $cru-gold;
      text-shadow: 1px 1px 6px #333;

    }
  }
}

@media(min-width:767px) {
  .intro {
    height: 100%;
    padding: 0;
    .intro-body {
      .intro-heading {
        font-size: 100px;
      }

      .intro-text {
        font-size: 25px;
      }
    }
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid $cru-light;
  border-radius: 30px;
  font-size: 40px;
  color: $cru-light;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  &:hover,
  &:focus {
    outline: none;
    color: $cru-light;
    background: transparentize($cru-light, 0.9);
  }
}


.content-section {
  padding-top: 100px;
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: $cru-light;
  background: $cru-dark url(../img/downloads-bg.jpg) no-repeat scroll center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 250px;
  }

  .download-section {
    padding: 100px 0;
  }

  #map {
    height: 400px;
    margin-top: 250px;
  }
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  @include button-variant($cru-primary, transparentize(white, 1), $cru-primary);

  &:hover,
  &:focus {
    border: 1px solid $cru-primary;
    outline: none;
    color: $cru-dark;
    background-color: $cru-primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons {
    li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

footer {
  padding: 50px 0;
  p {
    margin: 0;
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: transparentize($cru-light, 0.8);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: transparentize($cru-light, 0.8);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: transparentize($cru-light, 0.8);
}
